/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 25, 2016, 2:24:42 PM
    Author     : Arif
*/

.boxOut-selectHeader{
    display: none;
}

.boxOut-content{
    margin-top: 70px;
    padding-left: 90px;
    padding-right: 90px;
    margin-bottom: 60px;
}

.box-content{
    height: 620px;
    //border-right: 3px solid #1A64B8;
    background-color: #E4F4FD;
    background-image: url('../../../img/icon/message-borderRight.png');
    background-repeat: no-repeat;
    background-size: 5px 100%;
    background-position: right;
}

.boxOut-subTitleDashboard{
    font-size: 15px;
    color: #666666;
}

.boxOut-titleDashboard {
    padding-top: 32px;
}







.box-content{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 45px;
}

.boxOut-contentRow{
    margin-bottom: 30px;
}

.boxOut-content-title{
    font-size: 16px;
    margin-bottom: 5px;
    color: #666666;
}


.wizard {
    margin: 20px auto;
    background: transparent;
}

.wizard .nav-tabs {
    position: relative;
    margin: 40px auto;
    margin-bottom: 0;
    border: none;
    border-bottom-color: transparent;
}

.wizard > div.wizard-inner {
    position: relative;
}

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    //border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    //border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}
span.round-tab i{
    color:#555555;
}
.wizard li.active span.round-tab {
    background: #fff;
    //border: 2px solid #5bc0de;

}
.wizard li.active span.round-tab i{
    color: #5bc0de;
}

span.round-tab:hover {
    color: #333;
    //border: 2px solid #333;
}

.wizard .nav-tabs > li {
    width: 25%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    //border: 5px solid transparent;
    border-bottom-color: #5bc0de;
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #5bc0de;
}

.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

.wizard .nav-tabs > li a:hover {
    background: transparent;
}

.wizard .tab-pane {
    position: relative;
    padding-top: 50px;
}

.wizard h3 {
    margin-top: 0;
}


.connecting-line {
    height: 2px;
    background: transparent;
    border-bottom: 2px dotted #B3B3B3;
}

.wizard li.active span.round-tab {
    background: none;
    border: none !important;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: transparent;
    border: none !important;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 125px;
    height: 125px;
    line-height: 10px;
    border: none !important;
    font-size: 14px;
}

.wizard .nav-tabs > li a {
    width: 125px;
    height: 125px;
    margin: 20px auto;
    cursor: not-allowed;
}

.li-1 > a > .round-tab{
    background-image:  url('../../../img/icon/wallet-success-1.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: all 0.25s linear 0s;
}

.li-2 > a > .round-tab{
    background-image:  url('../../../img/icon/wallet-success-2.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: all 0.25s linear 0s;
}

.li-3 > a > .round-tab{
    background-image:  url('../../../img/icon/wallet-success-3.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: all 0.25s linear 0s;
}

.li-4 > a > .round-tab{
    background-image:  url('../../../img/icon/wallet-success-4.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: all 0.25s linear 0s;
}



/*.li-1.disabled > a > .round-tab{
    background-image:  url('../../../img/icon/wallet-success-1.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: all 0.25s linear 0s;
}*/

.li-2.disabled > a > .round-tab{
    background-image:  url('../../../img/icon/wallet-disable-2.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: all 0.25s linear 0s;
}

.li-3.disabled > a > .round-tab{
    background-image:  url('../../../img/icon/wallet-disable-3.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: all 0.25s linear 0s;
}

.li-4.disabled > a > .round-tab{
    background-image:  url('../../../img/icon/wallet-disable-4.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: all 0.25s linear 0s;
}


.li-1.active > a > .round-tab{
    background-image:  url('../../../img/icon/wallet-active-1.png') !important;
    background-size: 100% 100% !important;
    background-repeat: no-repeat;
    transition: all 0.25s linear 0s;
}

.li-2.active > a > .round-tab{
    background-image:  url('../../../img/icon/wallet-active-2.png') !important;
    background-size: 100% 100% !important;
    background-repeat: no-repeat;
    transition: all 0.25s linear 0s;
}

.li-3.active > a > .round-tab{
    background-image:  url('../../../img/icon/wallet-active-3.png') !important;
    background-size: 100% 100% !important;
    background-repeat: no-repeat;
    transition: all 0.25s linear 0s;
}

.li-4.active > a > .round-tab{
    background-image:  url('../../../img/icon/wallet-success-4.png') !important;
    background-size: 100% 100% !important;
    background-repeat: no-repeat;
    transition: all 0.25s linear 0s;
}

.wizard li.active::after {
    border-bottom-color: transparent;
    border: none;
}

.li-text{
    width: 175px;
    font-size: 14px;
    color: #0D9CD4;
    position: absolute;
    bottom: 0;
    margin-bottom: -30px;
    margin-left: -25px;
    text-align: center
}

.nav-tabs > .disabled .li-text{
    color: #B3B3B3;
}

.nav-tabs > .active .li-text{
    color: #ED3237;
}

.li-4.active .li-text{
    color: #0D9CD4;
}

.button-next{
    margin: 0px;
    background-color: #0D9CD4;
    color: white;
    width: 130px;
    font-size: 14px;
    height: 35px;
    border-radius: 100px;
    padding: 0px;
    text-align: center;
    float: none;
    margin-top: 50px;

    transition: all 0.25s linear 0s;
}

.button-next:hover, .button-next:focus{
    background-color: #0D85B5;
    transition: all 0.25s linear 0s;
}

.box-field-textTitle{
    font-size: 16px;
    color: #808080;
    margin-bottom: 5px;
}

.box-field-icon .fa {
    display: block !important;
}

.box-field-icon .right {
    border-left: none;
    right: 0px;
}

.field-icon-user{
    background-image:  url('../../../img/icon/field-iconUser.png');
    background-size: 13px 19px !important;
    background-repeat: no-repeat;
    background-position: right 20px center;
}

.field-icon-password{
    background-image:  url('../../../img/icon/field-iconPassword.png');
    background-size: 13px 19px !important;
    background-repeat: no-repeat;
    background-position: right 20px center;
}

.field-icon, .field-icon:focus{
    box-shadow: none;
    border-radius: 5px;
    height: 40px;
}

.field-icon{
    border-color: #E6E6E6;
}

.field-icon:focus{
    border-color: #00AFEF;
}

.field-otpEmail{
    box-shadow: none;
    border-radius: 0px;
    height: 70px;
    border-color: #E6E6E6;
    font-size: 24px;
    text-align: center;
    padding-right: 12px !important;
}

.field-otpEmail:focus{
    border-color: #00AFEF;
}

.wizard .tab-pane {
    padding-top: 0px;
}

.boxOut-content-step{
    margin-top: 100px;
}

.boxOut-fieldLeft{
    padding-right: 25px;
    padding-left: 200px;
}

.boxOut-fieldRight{
    padding-left: 25px;
    padding-right: 200px;
}

.box-step2-2, .box-step2-3, .button-step2-2, .button-step2-3{
    display: none;
}

.boxOut-select{
    width: 420px;
    height: 55px;
    background-color: white;
    float: none;
    margin-bottom: 15px;
    padding-top: 15px;
}

.edit-checbox{
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 12%;
}

.boxOut-select label{
    font-size: 16px;
    color: #808080;
    margin-top: 0px;
    padding-left: 50px;
}

.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -17px;
    margin-top: 1px;
    border: 1px solid #808080;
    border-radius: 2px;
    background-color: transparent;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out; 
}

.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    top: 0;
    margin-left: -19px;
    margin-top: 0px;
    padding-left: 3px;
    padding-top: 0px;
    font-size: 14px;
    color: #00AFEF;
}

.boxOut-verify{
    width: 380px;
    float: none;
}

.boxOut-step2-next{
    width: 480px;
    float: none;
    height: 70px;
    background-color: #6BC185;
}

.boxOut-step2-next > img{
    width: 22px;
    height: 30px;
    float: left;
    margin-left: 95px;
    margin-top: 20px;
}

.boxOut-step2-next > div{
    float: left;
    color: white;
    font-size: 26px;
    padding-top: 15px;
    padding-left: 50px;
}

.boxOut-content-step-3{
    background-color: white;
    padding: 30px;
}

.box-content-step-3{
    padding-left: 100px;
    padding-right: 100px;
}

.box-step3-text{
    font-size: 12px;
}

.edit-checbox-agree label{
    font-size: 12px;
    color: black;
    margin-top: 0px;
    padding-left: 10px;
}

.edit-checbox-agree {
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 17px;
}

.edit-checbox-agree label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 12px;
    height: 12px;
    left: 0;
    margin-left: -17px;
    margin-top: 3px;
    border: 1px solid #808080;
    border-radius: 2px;
    background-color: transparent;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out; 
}

.edit-checbox-agree label::after {
    display: inline-block;
    position: absolute;
    width: 12px;
    height: 12px;
    left: 0;
    top: 0;
    margin-left: -19px;
    margin-top: 2px;
    padding-left: 3px;
    padding-top: 0px;
    font-size: 10px;
    color: #00AFEF;
}

.boxOut-checbox-agree{
    padding-top: 10px;
}

.boxOut-success-text{
    text-align: center;
    color: #6BC185;
    font-size: 80px;
}

.boxOut-success-logout{
    text-align: center;
    color: #808080;
    font-size: 14px;
}

.button-logout{
    margin: 0px;
    background-color: #ED3237;
    color: white;
    width: 130px;
    font-size: 14px;
    height: 35px;
    border-radius: 100px;
    padding: 0px;
    text-align: center;
    float: none;
    margin-top: 50px;

    transition: all 0.25s linear 0s;
}

.button-logout:hover, .button-logout:focus{
    background-color: #CC2D32;
    transition: all 0.25s linear 0s;
}

.boxOut-content-logout {
    margin-top: 80px;
}








@media (max-width:1366px) {

    .boxOut-content {
        margin-top: 30px;
        padding-left: 35px;
        padding-right: 35px;
        margin-bottom: 60px;
    }

    .box-content {
        height: 530px;
    }

    .box-content {
        padding-left: 80px;
        padding-right: 80px;
    }

    .boxOut-contentRow {
        margin-bottom: 20px;
    }

    .boxOut-content-title{
        font-size: 14px;
    }




    span.round-tab {
        width: 89px;
        height: 89px;
    }

    .wizard .nav-tabs > li a {
        width: 89px;
        height: 89px;
    }

    .li-text {
        width: 140px;
        font-size: 12px;
        margin-bottom: -30px;
        margin-left: -25px;
    }

    .boxOut-content-step {
        margin-top: 50px;
    }

    .box-field-textTitle {
        font-size: 14px;
    }

    .boxOut-fieldLeft {
        padding-right: 15px;
        padding-left: 170px;
    }

    .boxOut-fieldRight {
        padding-left: 15px;
        padding-right: 170px;
    }

    .field-icon, .field-icon:focus {
        height: 30px;
    }

    .field-icon-user {
        background-size: 9px 13px !important;
        background-position: right 15px top;
    }

    .field-icon-password {
        background-size: 9px 13px !important;
        background-position: right 15px top;
    }

    .button-next{
        width: 92px;
        font-size: 12px;
        height: 27px;

        transition: all 0.25s linear 0s;
    }

    .button-next:hover, .button-next:focus{
        background-color: #0D85B5;
        transition: all 0.25s linear 0s;
    }

    .connecting-line {
        width: 80%;
    }

    .boxOut-select {
        width: 300px;
        height: 40px;
        padding-top: 11px;
    }

    .edit-checbox{
        padding-left: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 12%;
    }

    .boxOut-select label{
        font-size: 12px;
        color: #808080;
        margin-top: 0px;
        padding-left: 30px;
    }

    .checkbox label::before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 12px;
        height: 12px;
        left: 0;
        margin-left: -17px;
        margin-top: 2px;
        border: 1px solid #808080;
        border-radius: 2px;
        background-color: transparent;
        -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
        -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
        transition: border 0.15s ease-in-out, color 0.15s ease-in-out; 
    }

    .checkbox label::after {
        width: 12px;
        height: 12px;
        font-size: 10px;
        margin-top: 1px;
    }

    .field-otpEmail {
        height: 50px;
        font-size: 18px;
    }

    .boxOut-verify {
        width: 270px;
    }

    .boxOut-step2-next {
        width: 340px;
        height: 50px;
    }

    .boxOut-step2-next > img {
        width: 15px;
        height: 21px;
        margin-left: 70px;
        margin-top: 14px;
    }

    .boxOut-step2-next > div {
        font-size: 20px;
        padding-top: 10px;
        padding-left: 35px;
    }

    .box-content-step-3 {
        padding-left: 60px;
        padding-right: 60px;
    }

    .edit-checbox-agree {
        margin-left: 20px;
    }

    .boxOut-success-text {
        font-size: 70px;
    }

    .button-next{
        width: 92px;
        font-size: 12px;
        height: 27px;

        transition: all 0.25s linear 0s;
    }

    .button-logout{
        width: 92px;
        font-size: 12px;
        height: 27px;
    }





}


@media (max-width:992px) {


    .box-content {
        height: auto;
    }


    .box-content {
        padding-left: 50px;
        padding-right: 50px;
    }


    .box-content {
        padding-bottom: 50px;
    }

    .boxOut-subTitleDashboard{
        font-size: 13px;
    }

    .boxOut-titleDashboard {
        padding-top: 2px;
    }




    span.round-tab {
        width: 65px;
        height: 65px;
    }

    .wizard .nav-tabs > li a {
        width: 65px;
        height: 65px;
    }

    .li-text {
        font-size: 10px;
        margin-bottom: -30px;
        margin-left: -35px;
    }

    .boxOut-fieldLeft {
        padding-right: 10px;
        padding-left: 70px;
    }

    .boxOut-fieldRight {
        padding-left: 10px;
        padding-right: 70px;
    }

    .box-content {
        padding-left: 20px;
        padding-right: 20px;
    }

    .connecting-line {
        border-bottom: 1px dotted #B3B3B3;
    }

    .field-otpEmail {
        height: 40px;
        font-size: 16px;
    }

    .boxOut-step2-next {
        width: 250px;
        height: 37px;
    }

    .boxOut-step2-next > img {
        width: 11px;
        height: 15px;
        margin-left: 50px;
        margin-top: 11px;
    }

    .boxOut-step2-next > div {
        font-size: 16px;
        padding-top: 8px;
        padding-left: 20px;
    }

    .box-content-step-3 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .boxOut-success-text {
        font-size: 48px;
    }


}

@media (max-width:768px) {

    .boxOut-textArea .editor.btn-toolbar {
        overflow-y: scroll;
    }

    .boxOut-titleDashboard {
        margin-top: 20px;
    }

    .boxOut-content {
        margin-top: 0px;
    }

    .boxOut-content {
        margin-top: 30px;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 30px;
    }

    .boxOut-subTitleDashboard{
        font-size: 10px;
    }

    .boxOut-titleDashboard {
        margin-top: 13px;
    }






    span.round-tab {
        width: 50px;
        height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
    }

    .boxOut-fieldLeft {
        padding-right: 0px;
        padding-left: 0px;
    }

    .boxOut-fieldRight {
        padding-left: 0px;
        padding-right: 0px;
    }

    .field-icon, .field-icon:focus {
        margin-bottom: 20px;
    }

    .li-text {
        width: 90px;
        font-size: 8px;
        margin-bottom: -30px;
        margin-left: -20px;
    }

    .li-text{
        display: none;
    }

    .box-field-textTitle {
        font-size: 12px;
    }

    .field-icon, .field-icon:focus {
        font-size: 12px;
    }

    .boxOut-content-step {
        margin-top: 20px;
    }

    .boxOut-select {
        width: 100%;
    }

    .boxOut-select label {
        padding-left: 10px;
        font-size: 10px;
    }

    .boxOut-verify {
        width: 100%;
    }


    .boxOut-step2-next {
        width: 100%;
        max-width: 270px;
    }

    .box-content-step-3 {
        padding-left: 0px;
        padding-right: 0px;
    }

    .boxOut-content-step-3 {
        padding: 20px;
    }

    .boxOut-success-text {
        font-size: 38px;
    }


}





@media( max-width : 585px ) {

    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }

    span.round-tab {
        width: 50px;
        height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
    }
}